.caja{
    width: 150px;
    height: 150px;
    border: solid 4px orangered;
    margin-top: 50px;
}

.colorVerde{
    background-color: green;
}

.colorRojo{
    background-color: red;
}

.colorPink{
    background-color: Pink;
}